<% content_for :breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
  <li class="breadcrumb-item active"><%= link_to "Posts", posts_path %></li>
  <li class="breadcrumb-item active"><%= @post.name %></li>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= markdown @post.content %>
</p>

<% if @post.image %>
  <p>
    <strong>image:</strong>s
    image_url
    <%= image_tag @post.image_url, class: "img-fluid" %>
    <br>
    image.derivation_url(:small)
    <%= image_tag @post.image_url(:small), class: "img-fluid" %>
    <br>
    image_url(:medium)
    <%= image_tag @post.image_url(:medium), class: "img-fluid" %>
    <br>
    derivation_url(:large)
    <%= image_tag @post.image_url(:large), class: "img-fluid" %>
  </p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
