<!DOCTYPE html>
<html>
  <head>
    <title>DemoShrine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <%= render "header" %>
  <%= render "flash" %>
  <%= render "jumbotron" if controller?("home") %>
  <%= render "breadcrumb" %>
  <% unless controller?("home") %>
    <div class="jumbotron jumbotron-fluid">
      <div class="container py-5">
  <% end %>
  <%= yield %>
  <% unless controller?("home") %>
    </div>
    </div>
  <% end %>
  <%= render "footer" %>
  </body>
</html>
